@import '@/styles/abstracts/abstracts-dir.scss';

// .btn-primary {
//     --bs-btn-color: var(--white-bg);
//     --bs-btn-bg: var(--primary-bg);
//     --bs-btn-border-color: var(--primary-bg);;
//     --bs-btn-hover-color: #fff;
//     --bs-btn-hover-bg: var( --primary-border-bg);
//     --bs-btn-hover-border-color: var( --primary-border-bg);
//     --bs-btn-focus-shadow-rgb: 49, 132, 253;
//     --bs-btn-active-color: #fff;
//     --bs-btn-active-bg: var( --primary-border-bg);
//     --bs-btn-active-border-color:var( --primary-border-bg);
//     --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//     --bs-btn-disabled-color: #fff;
//     --bs-btn-disabled-bg: var(--primary-bg);;
//     --bs-btn-disabled-border-color: var(--primary-bg);;
// }
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;

  /* Gradient inside + border */
  background: 
    linear-gradient(90deg, #A80303 0%, #000000 100%) padding-box, /* inner fill */
    linear-gradient(90deg, #A80303 0%, #D00000 100%) border-box; /* border */
  border: 2px solid transparent;

 /* Rounded corners */
  border-radius: 23.22px !important;

  /* Shadow on left side */
  box-shadow: 3.26px 0px 2.44px -1.63px #A80303;

  /* Text styling */
  font-weight: 700;
  font-size: 18px;
  padding: 12px 28px;
  text-align: center;

}


.btn-outline-primary {
    --bs-btn-color: var(--primary-bg);;
    --bs-btn-border-color: var(--primary-bg);;
    --bs-btn-hover-color: var(--white-bg);;
    --bs-btn-hover-bg: var(--primary-bg);;
    --bs-btn-hover-border-color: var(--primary-bg);;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-bg);;
    --bs-btn-active-border-color: var(--primary-bg);;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary-bg);;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary-bg);;
    --bs-gradient: none;
}

.btn{
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 4px;
    height: 48px;
    font-size: 1rem;
    &.signup-btn{
        @include  media-breakpoint-tab-port{
            // padding: 0.3rem 1rem!important;
            height:38px !important
        }
        @include media-breakpoint-mobile-port{
            // padding: 0.3rem 1rem!important;
            height:38px !important;
        }
    }
   
}


