.css-13cymwt-control {
    min-height: 48px !important;
    box-sizing: border-box;
    border: 2px solid #cbd2e0 !important;
    background: white;
}
.css-13cymwt-control
.css-1u9des2-indicatorSeparator {
    display: none;
}
