.text-primary {
    color: var(--primary-text) !important;
}

.d-contents{
    display: contents
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--primary-bg) !important;
    color: white;
}
