@import "@/styles/scss/abstracts/abstracts-dir.scss";

.customNavbar {
    min-height: auto;
    z-index: 1;
    // background: radial-gradient(circle at center, #5e0e0e 0%, #000 80%);
    background: linear-gradient(110.61deg, #000000 83.19%, #A80303 110.9%);


    // @include media-breakpoint-mobile-port{
    //     min-height: fontSize(85px);
    // }
    transition: .4s;

    .brandImage {
        width: 175px;

        @include media-breakpoint-mobile-port {
            width: 113px;
        }
    }

    .btn-header {
        width: 111px;
        height: 42px;
        border-radius: 28.5px;
        border: 1px solid #FFFFFF;
        color: white
    }

    .btnLogin {
        border: 2px solid transparent;
        cursor: pointer;
        border: 2px solid transparent;
        background:
            linear-gradient(#000000, #000000) padding-box,
            linear-gradient(242.02deg, #D00000 32.65%, #000000 72.74%) border-box;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;


    }


    .navMenu {
        background: #1C1C1C;
        border-radius: fontSize(30px);
        padding: fontSize(16px) fontSize(30px);

        li {
            a {
                color: var(--white) !important;
                padding-right: fontSize(13px) !important;
                padding-left: fontSize(13px) !important;
                font-size: fontSize(16px) !important;
                // font-weight: 500;

                &:hover {
                    color: var(--primary-bg) !important;
                }
            }
        }
    }

    .userProfile {
        width: 50px;

        @include media-breakpoint-mobile-port {
            width: 36px;
        }
    }

    .userName {
        font-size: 1.2rem
    }

    .contactUs {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding: 0;
        line-height: 38px;
        text-align: center;
        background-color: var(--primary-bg);
        color: white;
        border: 1px solid #e9e9e9;
        min-height: auto;
    }

    .grid-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:
            linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
        background-size: 50px 50px;
        background-position: 0 0;
        pointer-events: none;
        z-index: 1;
        animation: moveGrid 20s linear infinite;
    }

}

@keyframes moveGrid {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100px 100px;
    }
}