@import "@/styles/scss/abstracts/abstracts-dir.scss";
.customNavbar {
    min-height: auto;
    // @include media-breakpoint-mobile-port{
    //     min-height: fontSize(85px);
    // }
    transition: .4s;
    .brandImage {
        width: 175px;
        @include media-breakpoint-mobile-port{
            width: 113px;
        }
    }

    .navMenu {
        li {
            a {
                color: var(--black-bg) !important;
                padding-right: fontSize(13px) !important;
                padding-left: fontSize(13px) !important;
                font-size: fontSize(16px) !important;
                font-weight: 500;
                &:hover {
                    color: var(--primary-bg) !important;
                }
            }
        }
    }
    .userProfile{
        width: 50px;
        @include media-breakpoint-mobile-port{
            width: 36px;
        }
    }
    .userName{
        font-size: 1.2rem
    }

    .contactUs{
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding: 0;
        line-height: 38px;
        text-align: center;
        background-color: var(--primary-bg);
        color: white;
        border: 1px solid #e9e9e9;
        min-height: auto;
    }


}
