.joinAndTeamUpWithUsContainer{
    background-image: url('/img/join-team-banner.png');
    background-size: cover;
    padding: 6rem 10rem;
    .joinAndTeamUpWithUsTitle{
        font-size: 3rem;
    // position: relative;
    color: var(--primary-bg);
   

    }
}