@import "@/styles/scss/abstracts/abstracts-dir.scss";
.OurCoursesCardContiner {
    .ourServicesTitle {
        font-size: 2.34375rem;
        font-weight: 700;
        @include media-breakpoint-mobile-port {
            font-size: fontSize(30px) !important;
        }
        @include media-breakpoint-tab-port {
            font-size: fontSize(30px) !important;
        }
    }
    .ourServicesSubTitle {
        color: var(--text-grey);
        font-size: fontSize(15px);
    }
    .offerCard {
        background: #f5f5f5;
        border-radius: 5px;
        height: 100%;
        padding: 40px 6px;
        text-align: center;
        transition: 0.4s;

        .offerCardIcon {
            color: var(--text-primary);
            display: block;
            font-size: fontSize(35px);
        }
        .offerCardTitle {
            font-size: fontSize(20px);
            line-height: fontSize(32px);
            font-weight: 700;
            margin-bottom: fontSize(15px);
            margin-top: fontSize(25px);
        }
    }
}
