@import "@/styles/scss/abstracts/abstracts-dir.scss";

.courseDetailContiner {
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: var(--primary-bg-light);

    @include media-breakpoint-mobile-port{
        padding-bottom: .5rem
    }
    @include  media-breakpoint-tab-port{
        padding-bottom: .5rem
    }
    
    .couseTitle {
        font-size: 3rem;
    }
    .mentorFrom{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .ratingText {
        color: #e59819;
        font-size: 0.9rem;
    }
    .starRating {
        top: -4px;
    }
    .overRatingPerCount {
        cursor: pointer;
        color: var(--primary-bg);
        font-size: 0.9rem;
        text-decoration: underline;
    }

    .programOverViewSection {
        .programOverViewTitle {
            font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
        }
        .programOverViewDetailTitle {
            font-size: 1.1rem;
            font-weight: 400 !important;
            // margin-bottom: 0!important;
        }
        .programOverViewDetailValue {
            font-weight: 700 !important;
            font-size: 1rem !important;
            color: var(--primary-bg);
        }
    }
}
