.profileCardContiner{
    .imgProfileCard{
.profileName{
    font-size: 1.2rem;
    font-weight: 600;
}
.profileProfession{
    font-size: .9rem;
    font-weight: 500;
    display: block;
}
.profileLocation{
    font-size: .8rem;
    font-weight: 500;
    color: var( --text-grey);
}
    }
}
