.auth-layout {
    .auth-img {
        background-image: url("https://img.freepik.com/free-vector/coding-concept-illustration_114360-859.jpg?w=826&t=st=1694591823~exp=1694592423~hmac=e25125415c3d0b5496a42426dcef37223e90dd895b0f826e0ecad4913907a43e");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: rgb(102, 81, 163);
        height: 100vh;
        border-top-left-radius: 200px;
    }
}
