.bootcampOverViewContainer {
    .bootcampOverTitle {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .bootcampOverViewCard {
        .bootcampOverViewCardImg {
            width: 40px;
            height: 100%;
            object-fit: cover;
        }

        .bootcampOverViewCardTitle {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 0.5rem;
            /* font-family: "Heebo", sans-serif; */
            font-weight: 700;
            line-height: 1.25;
        }
    }
}