
@import "@/styles/scss/abstracts/abstracts-dir.scss";
.aboutCompanyContiner{
    // background: #df8c90;
    // background: linear-gradient(53.22deg, #d32b3a -92.39%, #fff 25.23%);
    // background: radial-gradient(circle at center, #5e0e0e 0%, #000 80%);
    padding: 23px 0;
    .aboutImage{
       
            // transform: rotate(15deg);
        
    }
    .aboutTitle{
        font-size: 2.34375rem;
        font-weight: 700;
        color: var(--white);
        @include media-breakpoint-mobile-port {
            font-size: fontSize(30px) !important;
        }
        @include media-breakpoint-tab-port {
            font-size: fontSize(30px) !important;
        }
    }
    .aboutDescription{
        font-size: fontSize(15px) !important;
        color: var(--white);
    }
    .aboutDescriptionList{
        font-size: fontSize(15px) !important;
        border: none !important;
        color: var(--white);
        padding: 0.425rem 0;
    }
}