
@import "@/styles/scss/abstracts/abstracts-dir.scss";
.aboutCompanyContiner{
    background: #df8c90;
    padding: 23px 0;
    .aboutImage{

    }
    .aboutTitle{
        font-size: 2.34375rem;
        font-weight: 700;
        @include media-breakpoint-mobile-port {
            font-size: fontSize(30px) !important;
        }
        @include media-breakpoint-tab-port {
            font-size: fontSize(30px) !important;
        }
    }
    .aboutDescription{
        font-size: fontSize(15px) !important;
    }
    .aboutDescriptionList{
        font-size: fontSize(15px) !important;
        border: none !important;
        padding: 0.425rem 0;
    }
}