.OueMissionAndVission{
    height: 400px;
    .oueMissionAndVissionTitle{
        font-size: 2.34375rem;
        font-weight: 700;
     
    }
    .oueMissionAndVissionSubTitle{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .rightB{
        border-right: 2px solid var(--primary-bg);
    }
}