
@import "@/styles/scss/abstracts/abstracts-dir.scss";
.haveQueContiner {
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 0;
    background-color: #df8c90;

    .haveQueTitle {
        font-size: fontSize(28px);
        font-weight: 500;
    }

    .join-team-btn {
        // padding: 20px;
        // width: 200px;
        padding: 10px 25px;
    }
}
