
@import "@/styles/scss/abstracts/abstracts-dir.scss";
.haveQueContiner {
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 0;
    // background-color: var(--primary-bg);
    background: radial-gradient(circle at center, #5e0e0e 0%, #000 80%);

    .haveQueTitle {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 4rem;
        font-family: Ubuntu,sans-serif;
    }

    .join-team-btn {

        background: #fff;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2rem;
    color:var(--primary-bg);
    }
}
