@import "@/styles/scss/abstracts/abstracts-dir.scss";
.OurCoursesCardContiner {
    .ourServicesTitle {
        font-size: 2.34375rem;
        font-weight: 700;
        @include media-breakpoint-mobile-port {
            font-size: fontSize(30px) !important;
        }
        @include media-breakpoint-tab-port {
            font-size: fontSize(30px) !important;
        }
    }
    .ourServicesSubTitle {
        color: var(--text-grey);
        font-size: fontSize(15px);
    }
   
}
