@import "@/styles/scss/abstracts/abstracts-dir.scss";
@import "../../home/banner/banner.module.scss";

.liveClassesCardContiner {
    background-color: #181212;
    color: var(--text-white);
    .liveClassTitle {
          color:  #E5A800;
        font-size: 1.34375rem;
        font-weight: 700;
    }
    .fullstackIconImg{
        width: 2.5rem;
    }
    .liveClassCardTitle{

        @media (min-width: 1024px) {
                font-size: fontSize(24px);
                line-height: 2.25rem;
        }
      
        font-weight: 600;
        line-height: 1.75rem;
        font-size: 1rem;
    }
    .liveClassCardSubTitle{
        max-width: 42rem;
    }
    .liveClassCard{
       
        .liveClassCardDisc {
            color: var(--text-grey);
            font-size: 0.9375rem;
            overflow: hidden;
            height: 112.5px;
        }
    }
    .courseTopic{
        li{
            background-color: #3C3C3C;
            color: var(--text-white);
            border-radius: 12px !important;
        }
    }

    .courseSpec{
        li{
             color: var(--text-white);
             font-weight: 400;
             i{
                margin-right: .5rem;
             }
        }
    }

    .liveClassCard{
        border-radius: 28px;
    }
   
}
