.liveClassAccordion{
    margin-bottom: 1.5rem;
    .liveClassAccordionTitle {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .liveClassAccordionSubTitle{
        font-size: .9rem!important;
        font-weight: 400!important;
    }
}