.liveClassAccordion {
    // margin-bottom: 1.5rem;
    .liveClassAccordionTitle {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .liveClassAccordionSubTitle {
        font-size: 0.9rem !important;
        font-weight: 400 !important;
    }
}

.courseDetailContiner {
    .couseTitle {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        text-align: center;
    }
    .mentorFrom{
        color :rgb(116, 117, 121);
        font-size: .9.5rem;
        font-weight: 400;
    }
}
