@import "./abstracts/abstracts-dir.scss";
// @import "../fonts/San-Francisco-Pro-Fonts/index.css";
//
:button:input:check-box:search-box:cursor:container:sidebar:modal:alert //

html {
  overflow-x: hidden;
}
.gx-5 {
  --bs-gutter-x: 5rem;
}

.app-theme-bg{
  // background: radial-gradient(circle at center, #5e0e0e 0%, #000 80%);
  background: linear-gradient(110.61deg, #000000 83.19%, #A80303 110.9%);

}

.sessectionsion-dark {
    background-color: #181212;
    color: var(--text-white);
}