@import "./abstracts/abstracts-dir.scss";
// @import "../fonts/San-Francisco-Pro-Fonts/index.css";
//
:button:input:check-box:search-box:cursor:container:sidebar:modal:alert //

html {
  overflow-x: hidden;
}
.gx-5 {
  --bs-gutter-x: 5rem;
}

.app-theme-bg{
  // background: radial-gradient(circle at center, #5e0e0e 0%, #000 80%);
  background: linear-gradient(110.61deg, #000000 83.19%, #A80303 110.9%);

}

.sessectionsion-dark {
    background-color: #181212;
    color: var(--text-white);
}

/* Floating WhatsApp button */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 1000;
  text-decoration: none;

  animation: bounce 2s infinite;
}

/* Bounce keyframes */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.whatsapp-float:hover {
  transform: scale(1.2);
  background-color: #1ebe57;
}
